@media (prefers-reduced-motion: no-preference) {
  :root{
      --default-font: Arial;
      --h1-font: ;
      --h2-font: ;
      --nav-back-col: #2e2e2e;
      --background-col: #3c3c3c;
      --third-col: #5c5c5c;
      --text-col: white;

      --col-layer1: #7c878e;
      --col-layer2: #5b6770;
      --col-layer3: #333f48;
      --col-layer4: #1d252d;
  }

  .title{
    background-color: white
  }

  body{
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-family: var(--default-font);
    background-color: var(--background-col);
    color: var(--text-col);
    overflow-x: hidden;
  }


  section{
    height: 75vh;
    width: 100vw;
    scroll-snap-align: start;
  }


  h1{
    font-size: xx-large;
  }

  h2{
    font-size: x-large;
  }

  .iframe{
    border-style: solid;
    background-color: var(--third-col);
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hc{
    display: flex;
    justify-content: center;
  }

  .hr{
    display: flex;
    justify-content: flex-end;
  }

  .hl{
    display: flex;
    justify-content: flex-start;
  }

  .vc{
    display: flex;
    align-items: center;
  }

  .grid{
    display: grid;
    grid-column-gap: 11%;
    grid-template-columns: 45% 50%;
  }

  .grid_v{
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: 60% 10% 40%;
  }

  .spacer{
    aspect-ratio: 960/110;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1_col{
    background-color: var(--col-layer1)
  }

  .layer2_col{
    background-color: var(--col-layer2)
  }

  .layer3_col{
    background-color: var(--col-layer3)
  }

  .layer4_col{
    background-color: var(--col-layer4)
  }

  .layer1{
    background-image: url("../img/sep_layer1.svg");
  }

  .layer2{
    background-image: url("../img/sep_layer2.svg");
  }

  .layer3{
    background-image: url("../img/sep_layer3.svg");
  }

  .layer4{
    background-image: url("../img/sep_layer4.svg");
  }

  .button{
    border: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-family: var(--default-font);
    color: var(--text-col);
    font-size: 14pt;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s;
  }

  .button:hover{
    background-color: rgba(255, 255, 255, 0.5);
  }

  .image{
    border: 3px;
    border-style: solid;
    width: 560px;
    height: 315;
  }
}
